*{
    margin: 0;
    padding: 0;
    outline: none;
}

header {
    display: flex;
    top: 0;
    height: 60px;
    width: 100vw;
    background-color: rgb(187, 255, 246);
    justify-content: center;
    align-items: center;
}
 
#div {
    width: 100vw;
    display: grid;
    width: 100vw;
    height: 50vh;
    grid-template-columns: 300px 500px 200px;
    grid-template-rows: repeat(4,350px);
    grid-gap : 10px 20px;
    justify-content: space-between;
}

.A {
    background-color: aquamarine;
    width: 30px;
    height: 30px;
    grid-area: 1/1/2/2;
}

.B {
    background-color: blueviolet;
    width: 30px;
    height: 30px;
    grid-area: 1/3/2/4;
}