* {
    margin: 0;
    padding: 0;
    outline: none;
}

h2 {
    color: white;
    font-weight: 700;
}

img {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(91, 94, 94);
    margin-top: -10px;
    font-size: 15px;
}


a:hover{
    text-decoration: underline;
}

label {
    color: whitesmoke;
}
main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#left input {
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    border: 1px solid #8ebae6;
    box-shadow: 2px 2px 10px rgb(100, 170, 228);
}

#left, #right {
    width: 50vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left {
    background: linear-gradient(135deg, rgb(0, 176, 211) 0%, rgb(83, 203, 219) 22%, rgb(71, 189, 189) 28%, rgb(39, 194, 211) 84%, rgb(0, 176, 211) 100%);
}

#left-form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
}

#left-form input {
    margin: 12px 0;
}

#gender {
    margin: 5px auto;
}

#right {
    background-color: #10171e;
}

#right-form {
    width: 228px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
}

#right-form input{
    margin: 12px 0;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgb(167, 162, 162);
    box-shadow: 1px 1px 10px rgb(89, 92, 114);
}

#login {
    margin-bottom: 20px;
    padding: 0;
}

.forgot {
    padding-left: 45px;
}

